{% extends "converter/base.html" %}
{% load static %}

{% block title %}Conversion progress{% endblock %}

{% block content %}
<h2 class="convert-heading">Conversion progress</h2>
<div class="progress-checkmark-container">
  <div class="progress-wrapper">
    <div class="progress-bar" id="progress-bar"></div>
  </div>
  <span class="progress-checkmark" aria-hidden="true" style="display: none;">✅</span>
  <span class="progress-error" aria-hidden="true" style="display: none;">❌</span>
</div>

<div class="convert-heading" id="progress-bar-message">Waiting for progress to start...</div>

<div class="convert-heading" id="celery-result"></div>

<div class="button-wrapper" style="text-align:center; margin-top:20px;">
  <button type="button" id="download-btn" class="convert-button" style="display: none;">Download</button>
  <button type="button" id="home-btn" class="convert-button" style="display: none;">Return to the main page</button>
</div>

<div class="button-wrapper" style="text-align:center; margin-top:20px;">
  <div style="text-align: center; display: none;" id="home-text-link">
    <a href="{% url 'home' %}" style="text-decoration: none; font-size: 1em; color: #552d63;"
    onmouseover="this.style.textDecoration='underline';"
    onmouseout="this.style.textDecoration='none';">
    Convert More Files</a>
  </div>
</div>

<script src="{% static 'celery_progress/celery_progress.js' %}"></script>
<script>
  const progressUrl = "{% url 'converter:convert_progress' token %}";
  const downloadUrl = "{% url 'converter:download_file' token %}";
  const errorUrl = "{% url 'home' %}";
</script>
<script src="{% static 'converter/js/progressbar.js' %}"></script>

{% endblock %}
