{% extends "converter/base.html" %}
{% load static %}

{% block title %}Conversion progress{% endblock %}

{% block content %}
<h2 class="convert-heading">Conversion progress</h2>
<div class="progress-checkmark-container">
  <div class="progress-wrapper">
    <div class="progress-bar" id="progress-bar"></div>
  </div>
  <span class="progress-checkmark" aria-hidden="true" style="display: none;">✅</span>
</div>

<div class="convert-heading" id="progress-bar-message">Waiting for progress to start...</div>

<div class="convert-heading" id="celery-result"></div>

<button id="download-btn" type="button" style="display: none;"></button>

<script src="{% static 'celery_progress/celery_progress.js' %}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
      var progressUrl = "{% url 'celery_progress:task_status' task_id %}";

      function customResult(resultElement, result) {
            resultElement.innerHTML = `
                <div class="button-wrapper" style="text-align:center; margin-top:20px;">
                <button type="button" id="download-btn" class="convert-button">Download</button>
                </div>
            `;

            const downloadUrl = "{% url 'converter:download_file' task_id %}";

            const downloadBtn = document.getElementById('download-btn');
            if (downloadBtn && downloadUrl) {
                downloadBtn.addEventListener('click', function () {
                window.location.href = downloadUrl;
                });
            }

            const content = document.getElementById('progress-bar-message').innerText;
            const checkmark = document.querySelector('.progress-checkmark');
              if (content === 'Success! ') {
                checkmark.style.display = 'inline';
              } else {
                console.log('content != success');
              }
      }

      CeleryProgressBar.initProgressBar(progressUrl, {
        onResult: customResult
      });

    });
</script>


{% endblock %}
