{% extends "converter/base.html" %}

{% block title %}Select file format{% endblock %}

{% block content %}

<form method="post" id="convert-form" class="convert-form">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group">
            {{ form.input_format.label_tag }}
            {{ form.input_format }}
        </div>
        <div class="form-group">
            {{ form.output_format.label_tag }}
            {{ form.output_format }}
        </div>
    </div>
    
    <div class="button-wrapper">
        <button type="submit" class="convert-button">Select</button>
    </div>
</form>

{% if '/video/' in request.path %}
  <div class="alert alert-warning" style="margin: 1em auto; text-align: center; max-width: 600px;">
    ⚠️ <strong>Notice:</strong> Video conversion works unstable and may fail or be slow
  </div>
{% endif %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $('#id_input_format').change(function() {
        var inputFormat = $(this).val();
        $.getJSON('{% url "converter:get_target_formats" %}', { input_format: inputFormat }, function(data) {
            let outputSelect = $('#id_output_format');
            outputSelect.empty();
            data.choices.forEach(function(choice) {
                let val = choice[0], label = choice[1];
                outputSelect.append($('<option></option>').attr('value', val).text(label));
            });
        });
    });
</script>

{% endblock %}

